:root {
    --textoColor : #fff;
    --globalBottom: 10rem;
    --fondoNegro: 1,1,1,80%;
    --fondoGris: 80,80,80, 100%;
    --borderGContainer: 3rem;
}

*{
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 80%);
}

.container{
    width: min(85%, 130rem);
    margin: 0 auto;
}

/* Codigo CSS para el header */

.containerHeader{
    width: 90% ;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: var(--globalBottom);
}

.headerFondo{
    background-color: rgba(var(--fondoNegro));
    
}

.logo{
    color: var(--textoColor);   
}

.header a {
    text-decoration: none;
}

.logoPa2{
    display: block;
}

.link--style{
    font-size: 2rem;
    text-decoration: none;
    color: var(--textoColor);
    margin-left: 5rem;
    transition: font-size 2s ease-out;
}

.link--style:hover{
    font-size: 2.3rem;
    /* background-image: linear-gradient(to top, #999999  0%, #111  100%); */
}

.containerCantida{
    display: flex;
    align-items: center; 
    gap: 1rem;
}

.raya{
    border-right: 2px solid var(--textoColor);
    height: 2rem;
}

.artiNav--style{
    font-size: 2rem;
    color: var(--textoColor);
}

.cuenta--style{
    text-decoration: none;
    font-size: 2rem;
    text-decoration: none;
    color: var(--textoColor);
}

/* Codigo css para el automatic image slider */
.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: var(--globalBottom);
}

.img--style{
    width: 80%;
    height: 55rem;
    border-radius: var(--borderGContainer);
}
.imgContainer{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.animacionSlider {
    display: flex;
    width: 400%;
    padding: 0;
    animation: slide 16s infinite alternate ease-in-out;
    margin-bottom: .5rem;
}

.seleccionImg{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.circulo{
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgba(0, 0, 0, 80%);
    border-radius: 50%;
    transition: background-color 1s ease-in;
}

.circulo:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 80%);
}

@keyframes slide {

    0% { margin-left: 0%; }

    20% { margin-left: 0%; }

    25% { margin-left: -100%; }

    45% { margin-left: -100%; }

    50% { margin-left: -200%; }

    70% { margin-left: -200%; }

    75% { margin-left: -300%; }

    100% { margin-left: -300%; }
}

/* CSS de los beneficios */
.profit--style{
    display: flex;
    justify-content: space-around;
    background-color: rgba(var(--fondoGris));
    border-radius: 10rem;
    margin-bottom: var(--globalBottom);
}

.iconoProfit{
    width:  4rem;
    height: 4rem;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orgaProfit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.textoProfit{
    font-size: 2rem;
    color: var(--textoColor);
}
/* CSS de componentes */
.descripcionTech{
    background-color: rgba(var(--fondoNegro));
    border-radius: var(--borderGContainer);
    margin-bottom: var(--globalBottom);
}

.descripcionTech__Texto{
    color: var(--textoColor);
    text-align: center;
    font-size: 3.2rem;
    padding-top: 5rem;
}

.marketing{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.ordenMenor{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ordenMayor{
    flex: 1.2;
    display: flex;
    justify-content: center;
}
.marketing__texto{
    color: var(--textoColor);
    text-align: center;
    font-size: 2rem;
    margin-left: 3rem;
}

.marketing__texto:nth-child(1){
    font-size: 2.5rem;
}

.marketing__texto:nth-child(2){
    text-align: justify;
}

.ordenarB{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.botonDescripcion{
    text-align: center;
    background-color: rgba(var(--fondoNegro)); 
    border: none;
    width: 80%;
    transition: background-color 2s ease-out;
}

.botonDescripcion:hover{
    cursor: pointer;
    background-color: rgba(var(--fondoGris)); 
}

.gridAnuncio{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-bottom: var(--globalBottom);
}

.anuncio{
    display: flex ;
    width: 60rem;
    padding: 3rem 3rem 1rem 3rem;
    border-radius: var(--borderGContainer);
    background-color: rgba(var(--fondoNegro));
}

.textoAnuncio{
    margin: 0 2rem;
}

.anuncioImagen{
    width:100%;
}

.tituloAnuncio{
    text-align: center;
    color: var(--textoColor);
    font-size: 2.5rem;
}

.descripAnuncio{
    text-align: center;
    color: var(--textoColor);
    font-size: 2rem;
    text-align: justify;
}

.anuncioLink{
    text-decoration: none;
    font-size: 2rem;
    color: #0096C6;
}


.anuncioEnlance{
    display: flex;
    display: colum;
}

/* CSS de la suscripcion */
.suscripcion{
    margin-bottom: var(--globalBottom);
}

.suscripcion__titulo{
    color: var(--textoColor);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.suscripcion__texto{
    color: var(--textoColor);
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.suscripcion__datos{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}
.suscripcion__datos--inStyle{
    font-size: 1.8rem;
    padding: 1.5rem 1rem 1rem 1.5rem;
    margin-right: 3rem;
    border-radius: 1rem;
    border: 5px solid black;
}

.boton{
    padding: 1rem 5rem;
    border-radius: 1rem; 
    font-size: 2rem;
    background-image: linear-gradient(to left, #8c1414 0%, #b79ca7 100% );
    border: 3px solid black;
}

.boton:hover{
    cursor: pointer;
}

/* CSS footer */
.footer--style{
    background-color: rgba(var(--fondoGris));
}

.gridFooter{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.redesFooter__Titulo{
    color: white;
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
}

.iconoRedes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.redesFooter__texto {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

/* ======================================== Iniciar Sesison ======================================== */
.sesion__tamanio{
    width: min(85%, 100rem);
    margin: 0 auto;
    height: 40rem;
    margin-bottom: 20rem;
    
}

.sesion--style{
    border-radius: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.backgroundSesion{
    background-image: linear-gradient(to top, #ace5ee  0%, white 100%);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding: 5rem 0rem 10rem 0;
    border: 2px solid black;
}

.backgroundSesion2{
    background-image: linear-gradient(to top, rgba(var(--fondoNegro)) 0%, white 100%);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 5rem 0rem 10rem 0;
    border: 2px solid black;
}

.sesionUser{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;    
}

.tituloContainer__texto{
    font-size: 4rem;
    color: var(--fondoNegro);
}

.camposContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
}

.camposUsuario--style{
    width: 80%;
    margin-left: 3rem;
    font-size: 2rem;
    padding: 1rem 0rem 1rem 2rem;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 10px 22px 18px -3px rgba(0,0,0,0.62);
}

.botosContainer{
    width: 100%;
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.botones{
    padding: 1rem 3rem;
    border-radius: 1rem; 
    font-size: 1.8rem;
    color: white;
    background-image: linear-gradient(to left, #672a42   0%, #aa6f73  100% );
    border: none;
    box-shadow: 10px 22px 18px -3px rgba(0,0,0,0.62);
}


.imagenUsu{
    width: 70%;
}

.backgroundSesion2__size{
    display: flex;
    justify-content: center;
}

