@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");


:root {
    --textoColor: #fff;
    --globalBottom: 10rem;
    --fondoNegro: 1, 1, 1, 80%;
    --fondoGris: 80, 80, 80, 100%;
    --borderGContainer: 3rem;
}

* {
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 80%);
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: min(85%, 130rem);
    margin: 0 auto;
}

.disenioBoton {
    border-radius: 1rem;
    font-size: 1.8rem;
    color: var(--textoColor);
    background-image: linear-gradient(to left, #672a42 0%, #aa6f73 100%);
    border: none;
    box-shadow: 10px 22px 18px -3px rgba(90, 90, 90, 0.62);
    border: 3px solid black;
}

/* Codigo CSS para el header */

.containerHeader {
    width: 90%;
    margin: 0 auto;
}

.header,
.containerCantida {
    display: flex;
    align-items: center;
}

.header {
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    margin-bottom: var(--globalBottom);
}

@media (min-width: 780px) {
    .header {
        flex-direction: row;
    }
}

.headerFondo {
    background-color: rgba(var(--fondoNegro));
}

.logo {
    color: var(--textoColor);
    font-weight: 300;
}

.header a {
    text-decoration: none;
}

.logoPa2 {
    display: block;
    font-weight: 700;
}

.link--style {
    text-decoration: none;
    color: var(--textoColor);
    margin-left: 5rem;
    transition: font-size 2s ease-out;
}

.link--style:hover {
    font-size: 2rem;
}

.containerCantida {
    gap: 1rem;
    margin-bottom: 3rem;
}

@media (min-width: 780px) {
    .containerCantida {
        margin-bottom: 0rem;
    }
}

.raya {
    border-right: 2px solid var(--textoColor);
    height: 2rem;
}


.artiNav--style {
    font-size: 2.3rem;
    color: var(--textoColor);
}

.cuenta--style,
.link--style {
    font-size: 1.8rem;
    font-weight: 500;
}

.cuenta--style {
    text-decoration: none;
    text-decoration: none;
    color: var(--textoColor);
}

/* Codigo css para el automatic image slider */

.imgContainer,
.seleccionImg {
    display: flex;
    justify-content: center;
}

.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: var(--globalBottom);
}

.img--style {
    width: 80%;
    height: 55rem;
    border-radius: var(--borderGContainer);
}

.imgContainer {
    list-style: none;
    width: 100%;
}

.animacionSlider {
    display: flex;
    width: 400%;
    padding: 0;
    animation: slide 16s infinite alternate ease-in-out;
    margin-bottom: .5rem;
}

.seleccionImg {
    gap: 5rem;
}

.circulo {
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgba(0, 0, 0, 80%);
    border-radius: 50%;
    transition: background-color 1s ease-in;
}

.circulo:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 80%);
}

@keyframes slide {

    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* CSS de los beneficios */

.profit--style,
.iconoProfit,
.orgaProfit {
    display: flex;
}


.iconoProfit,
.orgaProfit {
    justify-content: center;
    align-items: center;
}

.profit--style {
    justify-content: space-around;
    background-color: rgba(var(--fondoGris));
    border-radius: 10rem;
    margin-bottom: var(--globalBottom);
    flex-direction: column;
}

@media (min-width: 780px) {
    .profit--style {
        flex-direction: row;
    }
}


.iconoProfit {
    width: 4rem;
    height: 4rem;
    background-color: aliceblue;
    border-radius: 50%;
}

.orgaProfit {
    display: flex;
    flex-direction: column;

}

@media (min-width: 780px) {
    .orgaProfit {
        gap: 2rem;
        flex-direction: row;
    }
}

.textoProfit {
    font-size: 2rem;
    color: var(--textoColor);
}

/* CSS de componentes */

.marketing,
.ordenMenor,
.ordenMayor,
.ordenarB,
.anuncio,
.anuncioEnlance {
    display: flex;
}

.ordenMenor,
.ordenMayor,
.ordenarB {
    justify-content: center;
}

.descripcionTech__Texto,
.marketing__texto,
.tituloAnuncio,
.descripAnuncio {
    color: var(--textoColor);
}

.anuncio,
.descripcionTech,
.botonDescripcion {
    background-color: rgba(var(--fondoNegro));
}

.descripcionTech__Texto,
.marketing__texto,
.botonDescripcion,
.tituloAnuncio,
.descripAnuncio {
    text-align: center;
}

.descripcionTech {
    border-radius: var(--borderGContainer);
    margin-bottom: var(--globalBottom);
}

.descripcionTech__Texto {
    font-size: 3.2rem;
    padding-top: 5rem;
}

.marketing {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;
}

@media (min-width: 1020px) {
    .marketing {
        flex-direction: row;
    }
}

.ordenMenor {
    flex: 1;
    flex-direction: column;
}

.ordenMayor {
    flex: 1.2;
}




.marketing__texto {
    font-size: 2rem;
    margin-left: 3rem;
}

.marketing__texto:nth-child(1) {
    font-size: 2.5rem;
}

.marketing__texto:nth-child(2) {
    text-align: justify;
}

.botonDescripcion {
    border: none;
    width: 100%;
    transition: background-color 2s ease-out;
    border-bottom-left-radius: var(--borderGContainer);
    border-bottom-right-radius: var(--borderGContainer);
    outline: 0 !important;
}

.botonDescripcion:hover {
    cursor: pointer;
    background-color: rgba(var(--fondoGris));
}

.gridAnuncio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: var(--globalBottom);
}

@media (min-width: 1020px) {
    .gridAnuncio {
        grid-template-columns: repeat(2, 1fr);
    }
}


.anuncio {
    width: 60rem;
    padding: 3rem 3rem 1rem 3rem;
    border-radius: var(--borderGContainer);
}

.textoAnuncio {
    margin: 0 2rem;
}

.anuncioImagen {
    width: 100%;
}

.tituloAnuncio {
    font-size: 2.5rem;
}

.descripAnuncio {
    font-size: 2rem;
    text-align: justify;
}

.anuncioLink {
    text-decoration: none;
    font-size: 2rem;
    color: #0096C6;
}


/* CSS de la suscripcion */
.suscripcion__titulo,
.suscripcion__texto {
    color: var(--textoColor);
}

.suscripcion {
    margin-bottom: var(--globalBottom);
}

.suscripcion__titulo {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.suscripcion__texto {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.suscripcion__datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
}

@media (min-width: 1020px) {
    .suscripcion__datos {
        flex-direction: row;
        align-items: center;
    }
}


.suscripcion__datos--inStyle {
    font-size: 1.8rem;
    padding: 1.5rem 1rem 1rem 1.5rem;
    margin-right: 0rem;
    border-radius: 1rem;
    border: 5px solid black;
    margin-bottom: 3rem;
}

@media (min-width: 1020px) {
    .suscripcion__datos--inStyle {
        margin-right: 3rem;
        margin-bottom: 0rem;
    }
}

.botonSuscrip {
    padding: 1rem 5rem;
    outline: 0 !important;
}

.botonSuscrip:hover {
    cursor: pointer;
}

/* CSS footer */

.footer--style {
    background-color: rgba(var(--fondoGris));
}

.gridFooter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 680px) {
    .gridFooter {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1020px) {
    .gridFooter {
        grid-template-columns: repeat(3, 1fr);
    }
}


.redesFooter__Titulo {
    color: white;
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
}

.iconoRedes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.redesFooter__texto {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

/* ======================================== Iniciar Sesison ======================================== */
.sesionUser,
.camposContainer,
.botosContainer,
.backgroundSesion2__size,
.cuentaProfit,
.tituloContainer {
    display: flex;
}

.tituloContainer {
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1020px) {
    .tituloContainer {
        flex-direction: row;
    }
}

.sesionUser,
.camposContainer {
    flex-direction: column;
}

.backgroundSesion,
.backgroundSesion2 {
    padding: 5rem 0rem 10rem 0;

}

.sesion__tamanio {
    width: min(85%, 100rem);
    margin: 0 auto;
    margin-bottom: 20rem;
}

.sesion--style {
    border-radius: 3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 1020px) {
    .sesion--style {
        grid-template-columns: repeat(2, 1fr);
    }
}



.backgroundSesion {
    background-image: linear-gradient(to top, rgba(var(--fondoGris)) 0%, white 150%);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-right: 2px solid black;
    margin-bottom: 3rem;
}

@media (min-width: 1020px) {
    .backgroundSesion {
        margin-bottom: 0rem;
    }
}

.backgroundSesion2 {
    background-image: linear-gradient(to top, black 0%, white 90%);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-left: 2px solid black;
}

.sesionUser {
    width: 80%;
    margin: 0 auto;
}


.tituloContainer__texto {
    font-size: 4rem;
    color: var(--fondoNegro);
    margin-right: 2rem;
}


.logoIniciar {
    font-size: 3rem;
    font-weight: 700;
    color: black;
    transition: font-size 2s ease;
}


.logoIniciar:hover {
    font-size: 2.8rem;
}



.camposContainer {
    gap: 3rem;
    margin-bottom: 3rem;
}

.camposUsuario--style {
    width: 80%;
    margin-left: 3rem;
    font-size: 2rem;
    padding: 1rem 0rem 1rem 2rem;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 10px 22px 18px -3px rgba(0, 0, 0, 0.62);
}

.botosContainer {
    width: 100%;
    margin: 2rem auto 0 auto;
    justify-content: center;
}

.botonIniciarS {
    padding: 1rem 3rem;
}

.botonIniciarS:hover {
    cursor: pointer;
}

.imagenUsu {
    width: 70%;
}

.backgroundSesion2__size {
    justify-content: center;
}

.cuentaProfit {
    justify-content: center;
    align-items: center;
}

.cuentaProfit__texto,
.cuentaProfit__link {
    margin-right: 1rem;
    font-weight: 500;
}

.cuentaProfit__texto,
.cuentaProfit__link {
    color: var(--textoColor);
}

.cuentaProfit__link {
    text-decoration: none;
    color: #1fffff;
}

/* ======================================== Crear Usuario ======================================== */
.marginForm {
    margin-bottom: var(--globalBottom);
}

.imgForm {
    background-image: url("../img/imgFormulario.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50rem;
    border-radius: 2rem;
}

.containerForm {
    width: min(60%, 100rem);
    margin: -15rem auto 0 auto;
}

.styleForm {
    background-color: rgba(var(--fondoGris));
    background-image: linear-gradient(to top, rgba(var(--fondoGris)) 0%, white 150%);
    border-radius: 2rem;
}

.styleForm legend {
    padding-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
}

.camposStyle {
    padding: 5rem 0rem;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 480px) {
    .camposStyle {
        grid-template-columns: repeat(2, 1fr);

    }
}

.campoForm {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
}

.campoForm label {
    margin: 1rem 0rem;
    padding-left: 1rem;
    font-size: 2rem;
    color: black;
    font-weight: 600;
}

.campoForm input {
    padding: 0.5rem 0rem 0.5rem 1rem;
    font-size: 1.8rem;
    color: black;
    margin-bottom: 1rem;
    outline: none ! important;
}

.inputStyle {
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}

.botonFormConta {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

@media (min-width: 480px) {
    .botonFormConta {
        flex-direction: row;
        justify-content: space-around;
    }
}

.botonForm {
    padding: 1rem 5rem;
}

.checkContainer {
    width: 50%;
    display: flex;
    margin-bottom: 3rem;
}

@media (min-width: 480px) {
    .checkContainer {
        margin-bottom: 0rem;
    }
}

.checkboxStyle {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

.checkboxText {
    margin: 0;
    color: var(--textoColor);
    font-weight: 400;
}



.botonForm:hover,
.checkboxStyle:hover {
    cursor: pointer;
}

/* ======================================== Productos ======================================== */
.mainProducto {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1020px) {
    .mainProducto {
        flex-direction: row;
    }
}

.menu {
    display: flex;
    align-items: center;
    width: 90%;
    height: 70rem;
    flex: 1;
    margin-bottom: 5rem;
}

.containerProductos {
    width: 80%;
    margin: 0rem 3rem;
    flex: 3;
}

.gridProductos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid white;
    margin-bottom: var(--globalBottom);
}

@media (min-width: 680px) {
    .gridProductos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1020px) {
    .gridProductos {
        grid-template-columns: repeat(3, 1fr);
    }
}

.productosBox,
.productosBoxRi {
    border-bottom: 1px solid white;
}

.productosBoxRi {
    border-right: 1px solid white;
}

.tamanioBox {
    margin: 0 auto;
    width: 80%;
    padding: 2rem 0rem;
}

.imgProducto {
    width: 70%;
}

.acomodoBox {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.acomodoBox__botones {
    display: flex;
    justify-content: space-between;
}

.tamanioBox p {
    color: var(--textoColor);
    margin: 0rem 0rem 1.5rem 0rem;
}

.productoPrecio {
    display: flex;
    gap: 2rem;
}

.botonesProducto {
    font-size: 2rem;
    font-weight: 500;
}

.acomodoBox__botones input {
    font-size: 1.5rem;
    font-weight: 500;
    padding: .5rem 1.3rem;
    color: var(--textoColor);
    background: transparent;
    border: 2px inset #048888;
    outline: 0 !important;
}

.acomodoBox__botones input:hover {
    cursor: pointer;
}

.componentesBox {
    background-image: linear-gradient(to top, rgba(var(--fondoGris)) 0%, white 150%);
    width: 80%;
    margin: 0 auto;
    border: 3px inset white;
}

.menu__texto {
    width: 100%;
    background-color: rgba(var(--fondoGris));
    padding: 1rem 0rem;
}

.componentesBox h3 {
    color: var(--textoColor);
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

.componentesBox ul {
    margin: 0;
    padding: 0;
}

.menuProducto {
    font-size: 2rem;
    font-weight: 600;
    list-style: none;
    text-align: center;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid black;
}

.menuProducto:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, #def3f6 0%, white 100%);
}

.menuProducto:last-child {
    border-bottom: none;
}


/* Shopping car */



.marginShoppingCar {
    margin-bottom: 30rem;
}

.container--style {
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    margin-bottom: 5rem;
}

.styleShopping {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid white;
    padding: 1rem 0rem;
}

@media (min-width: 680px) {
    .styleShopping {
        flex-direction: row;
    }
}

.datosShopping{
    margin-left: .5rem;
}

.styleShopping p {
    color: var(--textoColor);
    font-size: 1.6rem;
}

.imgShopping {
    width: 200px;
    margin: 0rem 2rem;
}

.arrangeTotal,
.arrangeButton {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 680px) {
    .arrangeButton, .arrangeTotal {
        flex-direction: row;
    }
}

.arrangeTotal__texto {
    font-size: 2.5rem;
    color: var(--textoColor);
    margin-bottom: 3rem;
}

.botonShopping {
    padding: 1rem 1rem;
    margin-bottom: 3rem;
}

@media (min-width: 680px) {
    .arrangeButton, .arrangeTotal {
        margin-bottom: 3rem;
    }
}

.botonShopping:hover {
    cursor: pointer;
}